body {
  background-color: #EEFFFF;
  }

.box {
  padding: 0.2em 0.5em;
  background-color: #d6ebff;
  box-shadow: 0px 0px 0px 10px #d6ebff;
  border: dashed 2px white;
  text-align: center;
}

.pictures {
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 100px;
}

a {
  text-decoration: none;
  color: black;
}

.information {
  text-align: center;
}

.map {
  
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.map iframe {
  display: block;
  width: 100%;
  height: 320px;
  margin-top: 25px;
}

.contact {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.form-area {
  background-color: #f8f8f8;
  border: 1px solid #aaaaaa;
  margin-top: 25px;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.form-area dt {
  width: 200px;
  padding: 15px 0;
  font-size: 15px;
  font-weight: bold;
  line-height: 24px;
  text-align: center;
}

.form-area dd {
  width: calc(100% - 200px);
  padding: 15px 0;
  text-align: center;
}

.form-area dt .required::after{
  content: '必須';
  font-size: 11px;
  color: #eb4f32;
  margin-left: 10px;
}

.input-text {
  width: 100%;
  max-width: 280px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

.select-box {
  width: 300px;
  height: 40px;
}

.radio-button {
  display: block;
  margin-top: 20px;
}

.radio-button:first-child {
  margin-top: 0;
}

.radio-button input {
  margin-right: 8px;
  }

  .message {
    width: 100%;
    height: 260px;
    padding: 10px;
    line-height: 1.5;
  }

  .confirm-text {
    font-size: 14px;
    line-height: 22px;
    margin-top: 30px;
    text-align: center;
  }

  .submit-button {
    background-color: #f4dd64;
    display: inline-block;
    min-width: 180px;
    line-height: 48px;
    border-radius: 24px;
    font-family: 'Montserrat', 'sans-serif';
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    margin-left: 670px;
  }

  .submit-button:hover {
    background-color: #d8b500;
  }

  footer {
    text-align: center;
  }

  dd {
    margin-left: 100px;
  }

  dt {
    margin-left: auto;
    margin-right: auto;
  }
